.title {
    color: antiquewhite;
    text-align: center;
    font-family: fantasy;
    font-size: 400%;
}

body {
    background-color: rgb(28, 28, 28);
}

.letter{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: white;
    color: black;
    
}
.letter:hover{
    background-color: rgb(211, 211, 211);
}
.letter.noturn:hover{
    background-color: white;
}
.letterChild{
    font-family: fantasy;
    margin-top: 9px;
    text-align: center;
    font-size: 120%;
    cursor: default;
    user-select: none;
}
#map{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.letterParent{
    display: flex;
    justify-content: center;
}
.underBoard {
    position: relative;
    width: 100%;
    left: 0;
    text-align: center;
    display: inherit;
    position: relative;
    height: 50px;
 }

.word{
    font-family: Arial;
    color: white;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
#sendBtn{
    position: absolute;
    display: inline-block;
    left: 60.3%;
    margin-top: -50px;
}