.title {
    color: antiquewhite;
    text-align: center;
    font-family: arial;
    font-size: 9vh;
    margin-bottom: 3vh;
    margin-top: 4vh;
}

body {
    background-color: rgb(20, 20, 20);
}

.letter{
    width: 4vh;
    height: 4vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    margin-top: 1vh;
    background-color: white;
    color: black;
    
}
.letter:hover{
    background-color: rgb(211, 211, 211);
}
.letter.noturn:hover{
    background-color: white;
}
.letterChild{
    font-family: Arial;
    margin-top: 0.8vh;
    text-align: center;
    font-size: 2vh;
    cursor: default;
    user-select: none;
    pointer-events: none;
}
#map{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.letterParent{
    display: flex;
    justify-content: center;
}
.underBoard {
    display: flex;
    width: 100%;
    justify-content: end;
    flex-direction: column;
    align-items: end;
 }

.word{
    font-family: Arial;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
#sendBtn{
    align-self: end;
    margin-top: -4vh;
    width: 4vh;
    height: 4vh;
    padding: 0;
}

.searchMatch{
    display: flex;
    justify-content: center;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
#url::selection {
    background: rgb(205, 205, 205);
}

#waiting{
    color: white;
    text-align: center;
    font-family: arial;
}
#code{
    font-family: arial;
}

.optBtn{
    width: 11rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn {
    color: #ffffff;
    background-color: #3f3f3f;
    font-size: 19px;
    border: 3px solid #3f3f3f;
    border-radius: 18px;
    padding: 10px 30px;
    cursor: pointer
}
.btn:hover {
    color: #1f1f1f;
    background-color: #b5b5b5;
}

input {
    color: #4d4d4d;
    background-color: #b5b5b5;
    font-size: 19px;
    border: 3px solid #3f3f3f;
    border-radius: 18px;
    padding: 10px 10px;
    cursor: pointer
}

.alert{
    background-color: #b5b5b5;
    border-radius: 10px;
    border-color: #3f3f3f;
    border-style: solid;
    border-width: 10px;
    width: 20%;
    height: 20%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: none;
}