.title {
    color: antiquewhite;
    text-align: center;
    font-family: arial;
    font-size: 6rem;
    margin-bottom: 3vh;
    margin-top: 4vh;
}

h2{
    color: white;
    text-align: center;
    font-family: arial;
    font-size: 1rem;
}
body {
    background-color: rgb(20, 20, 20);
}

.text{
    color: white;
    text-align: center;
    font-family: arial;
}